:root {
    --light-background: #eeeeee;
    --dark-text: #17261d;
    --dark-green: #36644b;
    --light-text: #d2cdaf;
    --purple: #8550a3;
    --dark-border: #335334;
    --green-button: #80b462;
    --footer-background: #626c5d;
}
