{% extends "yayd/base.html" %}

{% block content %}
<h2>Папка: {{ current_folder.name if current_folder else "Корневая папка" }}</h2>

{% if current_folder %}
    <a href="{% url 'folder_view' current_folder.parent.id %}">Вверх</a>
{% endif %}

<h3>Папки:</h3>
<ul>
    {% for folder in folders %}
        <li><a href="{% url 'folder_view' folder.id %}">{{ folder.name }}</a></li>
    {% empty %}
        <li>Нет папок.</li>
    {% endfor %}
</ul>

<h3>Файлы:</h3>
<ul>
    {% for file in files %}
        <li>{{ file.name }}</li>
    {% empty %}
        <li>Нет файлов.</li>
    {% endfor %}
</ul>
{% endblock %}
