:root {
  --dark-blue: #19222c;
  --ddark-blue: #0a0a23;
  --dddark-blue: #131b23;
  --undark-blue: #27344d;
  --light-blue-grey: #4fa1d3;
  --grey: #a8b2b9;
  --white: #ffffffeb;
  --greeny: #5ba9a2;
  --blue-link: #4fa1cf;
  --greenoblue: #5b92a9;
}
