/* Основные стили страницы */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Элементы выстраиваются в столбец */
  background-color: #131b23; /* Темный фон, как в блоге */
  color: #a9b7c6; /* Цвет текста, как в блоге */
  font-family: 'Arial', sans-serif; /* Шрифт по умолчанию */
}

/* Стили для кнопок */
.button {
  padding: 10px 20px;
  color: #fff; /* Белый текст */
  background-color: #007bff; /* Синий фон */
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Убрать подчёркивание текста */
  transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.button:hover {
  background-color: #0056b3; /* Темно-синий фон при наведении */
}

.inner-block {
  background-color: #213345; /* Чуть более яркий цвет фона */
  padding: 20px;
  border-radius: 10px; /* Скругление углов блока */
  margin: 20px; /* Отступ вокруг блока */
  width: 80%; /* Пример ширины в процентах от ширины экрана */
  max-width: 800px; /* Максимальная ширина блока, например, 800px */
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Добавляем тень для лучшего визуального разделения */
}

/* Стиль для основного контейнера, который занимает весь экран */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1000px;
  margin: 0;
  background-color: #131b23; /* Темный фон, как в блоге */
}

.inner-block img {
  max-width: 100%; /* Установите максимальную ширину, если необходимо */
  height: auto;
  border-radius: 50%; /* Круглое изображение */
  margin-bottom: 20px; /* Отступ снизу от картинки до кнопок */
}


/* Стили для кнопок */
.button {
  display: inline-block;
  margin: 0 10px; /* Отступы между кнопками */
  padding: 10px 20px; /* Паддинг внутри кнопок */
  color: #fff; /* Белый текст */
  background-color: #131b23; /* Синий фон */
  border: none;
  border-radius: 5px; /* Скругление углов */
  text-decoration: none; /* Убрать подчёркивание текста */
  transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.button:hover {
  background-color: #0056b3; /* Темно-синий фон при наведении */
}
