@import "colors.css";

/* Основные стили для темной темы с темно-синими оттенками */
body {
  background-color: var(--dddark-blue); /* Темный фон, темно-синий */
  color: var(--grey); /* Светлый текст */
  font-family: 'Arial', sans-serif; /* Шрифт по умолчанию */
}

.header-brand {
  display: flex;
  align-items: center; /* Это свойство выравнивает дочерние элементы по центру по вертикали */
  justify-content: flex-start; /* Это свойство выравнивает дочерние элементы в начало по горизонтали */
}

/* Стили для заголовка */
header {
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  align-items: center; /* Выравнивание по центру по вертикали */
  padding: 10px 0; /* Некоторый отступ сверху и снизу */
}

/* Стили для изображения и названия в заголовке */
header img {
  max-width: 100%;
  height: auto;
  margin-right: 15px; /* Отступ справа от логотипа */
}

/* Стиль для названия организации рядом с логотипом */
.header-title {
  color: #ffffff;
  font-size: 36px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт для названия */
}

.header-logo {
  margin-right: 10px; /* Отступ справа от логотипа */
}

.auth-links {
  display: flex;
  gap: 15px; /* Отступ между элементами аутентификации */
  /* Дополнительные стили для ссылок аутентификации */
}

.auth-links a {
  color: #ffffff; /* Цвет текста для ссылок */
  text-decoration: none;
  /* Дополнительные стили для ссылок */
}

.auth-links a:hover {
  text-decoration: underline;
}

.auth-links i {
  margin-right: 5px; /* Отступ справа от иконки */
}

/* Стили для контейнера */
.container {
  padding: 20px;
}

/* Стили для блоков постов */
.card {
  background-color: var(--dark-blue); /* Фон для блока поста */
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px; /* Скругленные углы */
}

/* Стили для заголовков постов */
.card-title {
  color: #8899a6;
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.bi-person {
  color: #4fa1d3;
  padding-top: 20px;
}

/* Стили для текста поста */
.post-content {
  color: var(--white);
  padding-top: 20px;
}

.post-detailed-title {
  color: var(--greenoblue);
  /* padding-top: 20px; */
}

/* Стили для ссылок */
a {
  color: var(--light-blue-grey); /* Синий цвет для ссылок */
  text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

li {
  margin-right: 5px;
  color: var(--greeny)
}

li.breadcrumb-item::before{
  color: var(--greeny) !important;
  font-weight: bolder !important;
}

li.breadcrumb-item{
  color: var(--greeny)!important;
  font-weight: bolder !important;
}

.breadcrumb-text {
  background-color:var(--ddark-blue);
  border:none;
  border-radius:10px;
  padding:10px;
}

.card-link{
  display: inline-block;
  padding: 5px 20px;  
  font-size: 16px; 
  text-align: center;
  text-decoration: none;
  color: var(--greenoblue); 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  background-color: var(--ddark-blue);
}

.taskbar-href{
  color: var(--greeny);
  background-color:var(--ddark-blue);
  border:none;
  border-radius:10px;
  padding:10px;
  /* min-height:20px;  */
  /* min-width: 120px; */
}


.card-text {
  margin-right: 10px; /* Небольшой отступ между ссылками */
  flex-grow: 1; /* Растягивает элемент, чтобы он занял доступное пространство */
  align-items: flex-end; /* Выравнивание элементов по нижнему краю */
}

label[class="form-label"] {
  font-weight: bold;
  color: var(--white);
}

input[type="text"], textarea[name="text"], input[type="text"]:focus, textarea[name="text"]:focus, input[type="password"], input[type="password"]:focus {
  background-color : var(--dark-blue);
  border: 3px solid var(--blue-link);
  box-sizing: border-box;
  color: white;
}

/* ! TODO сделать отсутствие изменения фона при логине */
/* label[class="form-label"]::after {
  background-color: var(--dark-blue);
  color: red;
} */

.btn-primary {
  background-color: var(--dark-blue);
  font-weight: bold;
  border: 2px solid var(--dark-blue);
  color: var(--blue-link);
}

.text-muted {
  color: var(--blue-link) !important;
}