{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Автомобили марки {{ brand.name }}</h2>
    <form method="get" class="search-sort-form mb-4">
        <input type="text" name="search" placeholder="Поиск по названию" value="{{ request.GET.search }}">
        <select name="sort">
            <option value="">Сортировать по</option>
            <option value="price" {% if request.GET.sort == 'price' %}selected{% endif %}>Цене</option>
            <option value="rating" {% if request.GET.sort == 'rating' %}selected{% endif %}>Рейтингу</option>
            <option value="brand" {% if request.GET.sort == 'brand' %}selected{% endif %}>Производителю</option>
        </select>
        <button type="submit">Применить</button>
    </form>
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if car.image %}
                    <img src="{{ car.image.url }}" class="card-img-top car-image" alt="{{ car.model }}">
                {% else %}
                    <img src="{% static 'static/images/no-image-available.png' %}" class="card-img-top car-image" alt="No image available">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ car.model }}</h4>
                    <p class="card-text"><b>Производитель:</b> {{ car.brand.name }}</p>
                    <p class="card-text"><b>Цена:</b> {{ car.price }} ₽</p>
                    <p class="card-text"><b>Рейтинг:</b> {{ car.average_rating }} / 5 ⭐</p>
                    <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>Автомобили не найдены.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
