{% extends "weather_app/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Weather Details for {{ weather_report.name }}</h2>
    <div>
        <p><strong>Coordinates:</strong> Longitude: {{ weather_report.coord.lon }}, Latitude: {{ weather_report.coord.lat }}</p>
        <p><strong>Weather Condition:</strong> {{ weather_report.weather.0.main }} - {{ weather_report.weather.0.description }}</p>
        <p><strong>Temperature:</strong> {{ weather_report.main.temp }}°C (Feels like {{ weather_report.main.feels_like }}°C)</p>
        <p><strong>Minimum Temperature:</strong> {{ weather_report.main.temp_min }}°C, <strong>Maximum Temperature:</strong> {{ weather_report.main.temp_max }}°C</p>
        <p><strong>Pressure:</strong> {{ weather_report.main.pressure }} hPa, <strong>Humidity:</strong> {{ weather_report.main.humidity }}%</p>
        <p><strong>Visibility:</strong> {{ weather_report.visibility }} meters</p>
        <p><strong>Wind:</strong> Speed: {{ weather_report.wind.speed }} m/s, Direction: {{ weather_report.wind.deg }} degrees, Gust: {{ weather_report.wind.gust }} m/s</p>
        {% if weather_report.snow %}
        <p><strong>Snow Volume Last Hour:</strong> {{ weather_report.snow.1h }} mm</p>
        {% endif %}
        <p><strong>Cloudiness:</strong> {{ weather_report.clouds.all }}%</p>
        <p><strong>Sunrise:</strong> {{ weather_report.formatted_sunrise }} (local time), <strong>Sunset:</strong> {{ weather_report.formatted_sunset }} (local time)</p>
        <p><strong>Country:</strong> {{ weather_report.sys.country }}, <strong>City ID:</strong> {{ weather_report.id }}</p>
        <p><strong>Timezone:</strong> {{ weather_report.timezone }}</p>
    </div>
</div>
{% endblock %}
