{% extends 'base.html' %} {% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a class="taskbar-href" href="{% url 'blog:index' %}">Посты</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><span class="breadcrumb-text">{{ post.pk }}</span></li>
  </ol>
</nav>
<div class="card">
  <div class="card-body">
    <h1 class="post-detailed-title">{{ post.title }}</h1>
    <div class="post-content">{{ post.text }}</div>
    <div class="card-text d-flex justify-content-between">
      <div>
        <div class="bi-person">
          {{ post.author }}
        </div>
      </div>
      <div class="text-muted">
        <i class="bi-watch"></i>
        {{ post.created_at }}
      </div>
    </div>
    <br>
    <a href="{% url 'blog:post_edit' post.pk %}" class="card-link">
      <i class="bi-pencil"></i>
      Редактировать
    </a>

  <a href="{% url 'blog:post_delete' post.pk %}" class="card-link text-danger">
    <i class="bi-trash"></i>
    Удалить
  </a>

  </div>
  
</div>


<br><br>
<h2 class="post-detailed-title">Комментарии</h2>
<br>
{% for comment in comments %}
<div class="card my-2">
  <div class="card-header">
    <div class="author">
      <i class="bi-person"></i>

      {% if comment.is_anonymous %}
      Аноним
      {% else %}
      {{ comment.author }}
      {% endif %}
      {% if user == comment.author %}
    <p class="you">Ваш комментарий </p>
    {% endif %}
  </div>
    
  </div>
  <div class="card-body">
    <div class="card-text">
      <p class="comment">{{ comment.text }}</p>
    </div>

    <div class="card-text text-muted small">
      <i class="bi-watch"></i>
      {{comment.created_at}}
    </div>
    <br>
    {%if user == comment.author %}
    <a href="{% url 'blog:comment_more' comment.pk %}" class="card-link stretched-link">
      Подробнее
    </a>
    {% endif %}
  </div>
</div>
<br>
{% empty %}
<div class="no-com">
  <p> Комментариев пока нет</p>
</div>
<br>
{% endfor %}
<form action="{% url 'blog:detail' post.pk %}" method="post">
  {% csrf_token %}
  <a href="{% url 'blog:comment_create' post.pk %}" class="card-link">Добавить комментарий</a>
</form>
<br>
{% endblock %}